<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
    <link rel = "stylesheet" href= "/home.css">
</head>
<body> 
      <!-- Navbar -->
  <nav>
    <div class="logo">URL Shortener</div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="aboutus.ejs">About Us</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/signup">Register</a></li>
    </ul>
  </nav>

    <h1 class= "heading">URL SHORTNER</h1>
    <!-- locals - backend (below statement states ki agar toh locals ke andr id bni h ya present h toh ye genrate kro) -->
    <div class="generated">
  <% if (locals.id) { %> 
    <p>
      URL GENERATED: 
      <a href="http://localhost:8001/url/<%= id %>" target="_blank" class="link">http://localhost:8001/url/<%= id %></a><br>
      ID: <%= id %>
    </p>
  <% } %>
</div>
     <div class="container">
         <form method = "POST" action = "/url"> 
             <label>Enter your original URL : </label>
             <input type = "text" name ="URL" class="URLBOX" placeholder = "https://www.example.com"> <br><br>
             <input type = "submit" class="sub"  value = "SHORTEN URL">
              <a href="/" class="sub go-back-button">Go Back</a>
            </form>
        </div>
        <div class="containertable">
           <% if (locals.urls) { %>
    <table border="1" style="margin: 20px auto;">
        <tr>
            <th>S.NO</th>
            <th>Short ID</th>
            <th>Redirect To</th>
            <th>Clicks</th>
        </tr>
        <% urls.forEach((url, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= url.ShortId %></td>
                <td><%= url.UserEnteredURL %></td>
                <td><%= url.visitedHistory.length %></td>
            </tr>
        <% }) %>
    </table>
<% } %>

            </div>
            
</body>
</html>